main .blog,
main h2 {
    padding-top: 2rem
}

main .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start
}

main .blog img {
    max-width: 25%;
    display: block;
    padding-left: 3rem
}

main .blog section {
    padding-left: 2rem;
    padding-right: 2rem
}

main .blog .title {
    padding-bottom: 1rem;
    color: #000;
    text-align: left !important
}

main .blog p {
    color: #000;
    text-align: left
}

@media screen and (max-width:575px) {
    main .blog {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center
    }

    main .blog img {
        max-width: 75%;
        padding-bottom: 2rem;
        padding-left: 0
    }

    main h3 {
        text-align: center
    }

    main aside {
        display: none
    }
}

@media screen and (min-width:576px) and (max-width:1279px) {
    main .blog {
        width: 100%;
        flex-wrap: wrap
    }

    main .blog img {
        width: 75%;
        padding-bottom: 2rem
    }

    main aside {
        display: none
    }
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 4rem
}

@media screen and (max-width:575px) {
    .names {
        width: 75%;
        margin-left: 4rem
    }
}

label {
    font-weight: 700
}

h2 {
    padding-bottom: 1rem
}

p,
select {
    font-size: 1.5rem
}

select {
    min-height: 2rem
}

button {
    width: 10rem;
    font-weight: 700;
    margin-left: 1rem;
    background-color: #79501b;
    color: gold
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 2rem
}

.characteristics {
    margin: auto;
    width: 40%;
    padding-left: 20%
}

span {
    font-weight: 700
}

main {
    min-height: 400px
}

main article img {
    width: 75%;
    padding-top: 3rem
}

main article img,
main button {
    display: block;
    margin-left: auto;
    margin-right: auto
}

main button {
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: gold;
    color: #79501b;
    font-weight: 700;
    width: 30%
}

main h2 {
    color: brown;
    text-align: center;
    padding-top: 5rem
}

main .discount {
    background-color: #000;
    padding-bottom: 3rem;
    width: 25%;
    margin: 0 auto
}

main .discount img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 3rem
}

main .discount button {
    margin-top: 0;
    width: 50%
}

@media screen and (max-width:575px) {
    main .discount {
        width: 90%
    }
}

main h3 {
    color: #ee7676
}

main h3,
main p {
    padding-top: 1rem;
    text-align: center
}

main p {
    color: #fff;
    margin-bottom: 1rem
}

.shop {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: brown
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem
}

.container h3 {
    color: brown
}

.container p {
    color: #000;
    margin-bottom: 0
}