* {
    margin: 0;
    padding: 0
}

header {
    background-color: #000
}

header .banner {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

nav {
    background-color: #79501b
}

nav a {
    text-decoration: none;
    font-weight: 700
}

nav ul {
    display: flex;
    flex-direction: row
}

nav li {
    list-style-type: none;
    padding: 1rem;
    padding-right: 1.5rem;
    transition: transform 2s
}

nav li,
nav li a {
    color: gold
}

nav li:hover {
    transform: scale(1.25)
}

body {
    background-color: #fafad2
}

main {
    min-height: 400px
}

main h1 {
    padding-top: 3rem
}

main h1,
main h2 {
    color: brown;
    text-align: center
}

main p {
    color: #000
}

footer {
    min-height: 7rem;
    background-color: #000;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center
}

footer p {
    color: gold;
    padding-top: .5rem
}

.book-image,
.trio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 3rem
}

.intro,
p {
    color: #000
}

.intro {
    text-align: center;
    padding: 3rem 5rem
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.container .books {
    width: 20%;
    padding-left: 2rem;
    padding-right: 2rem
}

@media screen and (max-width:575px) {
    .container .books {
        width: 80%
    }
}

.container .book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem
}

.container .book-info {
    text-align: center
}

.container .book-info p {
    padding-top: 1rem
}